.column-left{
    background-color: #0e3d3d;
  }

.column-right{
background-color: #F5FAFA;
}

.text-title {
    color: #FFD702;
  }
  .text-title2 {
    color: #1A2E35;
    background-color: #CBD8D8;
  }

  .label-main{
    background-color: #0e3d3d;
  }
