<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sedia.resume.repository.LicenseMapper">
	
    <resultMap id="LicenseResultMap" type="com.sedia.resume.entity.LicenseEntity">
    
        <result column="id" property="sn" jdbcType="INTEGER" />
        <result column="uid" property="uid" jdbcType="INTEGER" />
        <result column="name" property="lsName" jdbcType="CHAR" />
        <result column="cr_user" property="crUser" jdbcType="CHAR" />
        <result column="cr_datetime" property="crDatetime" jdbcType="CHAR" />
        <result column="up_user" property="upUser" jdbcType="TIMESTAMP" />
        <result column="up_datetime" property="upDatetime" jdbcType="TIMESTAMP" />
    </resultMap>
    
	<!-- 查詢第一筆資料 -->
	<select id="findFirstLicense" resultMap="LicenseResultMap">
        select * from license where id = #{sn} and uid = #{uid};
    </select>
    
    <!-- 查詢所有資料 -->
    <select id="listLicense" resultMap="LicenseResultMap">
        select * from license where uid = #{uid};
    </select>
    
    <!-- 新增資料 -->
    <insert id="insertLicense" parameterType="com.sedia.resume.entity.LicenseEntity">
        insert into license (uid,name,cr_user,cr_datetime) values 
        (#{uid},#{lsName},#{crUser},#{crDatetime});
    </insert>
    
    <!-- 更新資料 -->
    <update id="updateLicense" parameterType="com.sedia.resume.entity.LicenseEntity">
        update license set name=#{lsName},up_user=#{upUser},up_datetime=#{upDatetime}
        where id = #{sn} and uid = #{uid};
    </update>
    
	<!-- 刪除資料 -->
    <delete id="deleteLicense" parameterType="com.sedia.resume.entity.LicenseEntity">
        delete from license where id = #{sn} and uid = #{uid};
        
    </delete>
    
    <!-- 確認資料是否存在 -->
    <!-- 0428如何讓mysql回傳boolean -->
    <select id="isExistLicense" resultMap="LicenseResultMap">
        select * from license where id = #{sn} and uid = #{uid};
    </select>

    <select id="getLicenseNotInIds" resultMap="LicenseResultMap">
        select * from license where id not in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


</mapper>