.column-left{
    background-color: #0c395f;
  }

.column-right{
background-color: #F5FAFA;
}

.text-title {
    color: #ffc49a;
}
.text-title2 {
  color: #0c395f;
  background-color: #cbd1d8;
}

.label-main{
  background-color: #0c395f;
}
