.column-left{
    background-color: #333;
  }

.column-right{
background-color: #F5FAFA;
}

.text-title {
    color: #ffb836;
}
.text-title2 {
  color: #333;
  background-color: #cbd1d8;
}

.label-main{
  background-color: #c18d35;
}
