<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title></title>
  <style type="text/css">
    @page {
      size: A4;
      margin: 0;
    }

    body {
      margin: 0;
      padding: 0;
    }

    .content {
      width: 210mm;
      height: 297mm;
      margin: 0 auto;
      background-color: #eccccf;
    }


  </style>
</head>
<body>
<div class="content">
  <span>test13</span>
  <h1 style="color: red">中文字測試不顯示123</h1>
  <h2 style="color: red">t1est2:${name}</h2>
  <h3 style="float: right">test中文3</h3>
</div>
</body>
</html>