<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sedia.resume.repository.EducationMapper">

    <resultMap id="EducationResultMap" type="com.sedia.resume.entity.EducationEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="UID" property="uid" jdbcType="INTEGER"/>
        <result column="SCHOOL_NAME" property="schoolName" jdbcType="VARCHAR"/>
        <result column="LEVEL" property="level" jdbcType="VARCHAR"/>
        <result column="MAJOR" property="major" jdbcType="VARCHAR"/>
        <result column="SECOND_MAJOR" property="secondMajor" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="TIMESTAMP"/>
        <result column="START_DATE" property="startDate" jdbcType="VARCHAR"/>
        <result column="END_DATE" property="endDate" jdbcType="VARCHAR"/>
        <result column="COUNTRY" property="country" jdbcType="VARCHAR"/>
        <result column="GPA" property="gpa" jdbcType="FLOAT"/>
        <result column="CR_USER" property="createUser" jdbcType="VARCHAR"/>
        <result column="CR_DATETIME" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UP_USER" property="updateUser" jdbcType="VARCHAR"/>
        <result column="UP_DATETIME" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listEducation" resultMap="EducationResultMap">
        SELECT * FROM education WHERE UID = #{uid};
    </select>
    
    <select id="firstEducation" resultMap="EducationResultMap">
        SELECT * FROM education  WHERE ID = #{id} and uid = #{uid};
    </select>

    <insert id="insertEducation" parameterType="com.sedia.resume.entity.EducationEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO education (UID, SCHOOL_NAME, LEVEL, MAJOR, SECOND_MAJOR, STATUS, START_DATE, END_DATE, COUNTRY, GPA, CR_USER, CR_DATETIME, UP_USER, UP_DATETIME)
   VALUES (#{uid}, #{schoolName}, #{level}, #{major}, #{secondMajor}, #{status}, #{startDate}, #{endDate}, #{country}, #{gpa}, #{createUser}, #{createDate}, #{updateUser}, #{updateDate});
    </insert>
    
    <update id="updateEducation" parameterType="com.sedia.resume.entity.EducationEntity" useGeneratedKeys="true" keyProperty="id">
        UPDATE education SET
        UID = #{uid}, SCHOOL_NAME = #{schoolName}, LEVEL = #{level}, MAJOR = #{major}, SECOND_MAJOR = #{secondMajor}, STATUS = #{status}, START_DATE = #{startDate}, END_DATE = #{endDate}, COUNTRY = #{country}, GPA = #{gpa}, CR_USER = #{createUser}, CR_DATETIME = #{createDate}, UP_USER = #{updateUser}, UP_DATETIME= #{updateDate}
        where id = #{id} and uid = #{uid};
	</update>
	
	<delete id="deleteEducation">
  		delete from education where id = #{id} and uid = #{uid};
	</delete>
	
	 <select id="isExistEducation" resultMap="EducationResultMap">
        select * from education where id = #{id} and uid = #{uid};
    </select>
	
  
</mapper>