<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sedia.resume.repository.ExperienceMapper">

    <resultMap id="ExperienceResultMap" type="com.sedia.resume.entity.ExperienceEntity">
    	<!-- //property指的是在Entity裡的類別變數，而column就是在資料表的欄名 -->
    	
    	<!-- mybatis常用的型別
    	<result property="FLD_NUMBER" column="FLD_NUMBER" javaType="double" jdbcType="NUMERIC"/>
  		<result property="FLD_VARCHAR" column="FLD_VARCHAR" javaType="string" jdbcType="VARCHAR"/>
  		<result property="FLD_DATE" column="FLD_DATE" javaType="java.sql.Date" jdbcType="DATE"/>
  		<result property="FLD_INTEGER" column="FLD_INTEGER"  javaType="int" jdbcType="INTEGER"/>
  		<result property="FLD_DOUBLE" column="FLD_DOUBLE"  javaType="double" jdbcType="DOUBLE"/>
  		<result property="FLD_LONG" column="FLD_LONG"  javaType="long" jdbcType="INTEGER"/>
  		<result property="FLD_CHAR" column="FLD_CHAR"  javaType="string" jdbcType="CHAR"/>
  		<result property="FLD_BLOB" column="FLD_BLOB"  javaType="[B" jdbcType="BLOB" />
  		<result property="FLD_CLOB" column="FLD_CLOB"  javaType="string" jdbcType="CLOB"/>
  		<result property="FLD_FLOAT" column="FLD_FLOAT"  javaType="float" jdbcType="FLOAT"/>
  		<result property="FLD_TIMESTAMP" column="FLD_TIMESTAMP"  javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/> -->
  		
  		
     	<result column="id" property="sn" jdbcType="INTEGER" />
        <result column="uid" property="uid" jdbcType="INTEGER" />
        <result column="company_name" property="companyName" jdbcType="CHAR" />
        <result column="position" property="position" jdbcType="CHAR" />
        <result column="start_date" property="startDate" jdbcType="VARCHAR" />
        <result column="end_date" property="endDate" jdbcType="VARCHAR" />
        <result column="experience_desc" property="experienceDesc" jdbcType="CHAR" />
        <result column="ability" property="ability" jdbcType="CHAR" />
        <result column="cr_user" property="crUser" jdbcType="CHAR" />
        <result column="cr_datetime" property="crDatetime" jdbcType="TIMESTAMP" />
        <result column="up_user" property="upUser" jdbcType="CHAR" />
        <result column="up_datetime" property="upDatetime" jdbcType="TIMESTAMP" />

    </resultMap>
    
	<!-- 查詢使用者第一筆資料 -->
	<!-- 7/3可能用不到 -->
	<select id="firstExperience" resultMap="ExperienceResultMap">
        select * from experience where id = #{sn} and uid = #{uid};
    </select>
    
    <!-- 查詢所有資料 -->
    <select id="listExperience" resultMap="ExperienceResultMap">
        select * from experience where uid = #{uid};
    </select>
    
    <!-- 新增資料 -->
    <insert id="insertExperience" parameterType="com.sedia.resume.entity.ExperienceEntity">
        insert into experience (uid,company_name,position,start_date,end_date,experience_desc,ability,cr_user,cr_datetime) values 
        (#{uid},#{companyName},#{position},#{startDate},#{endDate},#{experienceDesc},#{ability},#{crUser},#{crDatetime});
    </insert>
    
    <!-- 更新資料 -->
    <!-- 新增加了useGeneratedKeys="true" keyProperty="id會掛。更新卻不會 -->
    <update id="updateExperience" parameterType="com.sedia.resume.entity.ExperienceEntity" useGeneratedKeys="true" keyProperty="id">
        update experience set company_name=#{companyName},position = #{position},start_date = #{startDate},
        end_date = #{endDate},experience_desc = #{experienceDesc},ability = #{ability},up_user = #{upUser},up_datetime = #{upDatetime}
        where id = #{sn} and uid = #{uid};
    </update>
    
	<!-- 刪除資料 -->
    <delete id="deleteExperience" parameterType="com.sedia.resume.entity.ExperienceEntity">
        delete from experience where id = #{sn} and uid = #{uid};
    </delete>
    
    <!-- 確認資料是否存在 -->
    <!-- 0428如何讓mysql回傳boolean -->
    <select id="isExistExperience" resultMap="ExperienceResultMap">
        select * from experience where id = #{sn} and uid = #{uid};
    </select>
    
</mapper>