<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sedia.resume.repository.ResetPasswordTokenMapper">

    <resultMap id="resultMap" type="com.sedia.resume.entity.ResetPasswordTokenEntity">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="UID" property="uid" jdbcType="INTEGER"/>
        <result column="TOKEN" property="token" jdbcType="VARCHAR"/>
        <result column="EXPIRY_DATE" property="expiryDate" jdbcType="TIMESTAMP"/>
        <result column="IS_USED" property="isUsed" jdbcType="TINYINT"/>
         <result column="CR_USER" property="createUser" jdbcType="VARCHAR"/>
        <result column="CR_DATETIME" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UP_USER" property="updateUser" jdbcType="VARCHAR"/>
        <result column="UP_DATETIME" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

   <!--  確認token -->
    <select id="checkToken" resultMap="resultMap">
        SELECT * FROM reset_password_token WHERE TOKEN = #{token};
    </select>
   <!--  回傳重製密碼訊息 -->
    <update id="resetPassword" parameterType="com.sedia.resume.entity.ResetPasswordTokenEntity" useGeneratedKeys="true" keyProperty="id">
        update reset_password_token set UID = #{uid}, EXPIRY_DATE = #{expiryDate}, IS_USED = #{isUsed}
        where TOKEN = #{token};
    </update>

    
    <insert id="save" parameterType="com.sedia.resume.entity.ResetPasswordTokenEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO reset_password_token (UID, TOKEN, EXPIRY_DATE, IS_USED) VALUES
        (#{uid}, #{token}, #{expiryDate}, #{isUsed});
    </insert>
    
    


</mapper>