<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sedia.resume.repository.ResumeRelationMapper">

    <select id="getEducationIdByResumeId" resultType="Integer">
        select EDU_ID from rel_resume_edu where #{resumeId} = RID;
    </select>

    <select id="getExperienceIdByResumeId" resultType="Integer">
        select EXP_ID from rel_resume_exp where #{resumeId} = RID;
    </select>

    <select id="getLanguageIdByResumeId" resultType="Integer">
        select LANGUAGE_ID from rel_resume_lang where #{resumeId} = RID;
    </select>

    <select id="getLicenseIdByResumeId" resultType="Integer">
        select LICENSE_ID from rel_resume_license where #{resumeId} = RID;
    </select>

    <select id="getSkillIdByResumeId" resultType="Integer">
        select SKILL_ID from rel_resume_skill where #{resumeId} = RID;
    </select>

    <insert id="insertResumeEducation">
        INSERT INTO rel_resume_edu (RID, EDU_ID)
   		VALUES (#{rId}, #{eduId});
    </insert>

	<delete id="deleteResumeEducation">
  		delete from rel_resume_edu where RID = #{rId};
	</delete>
	
	<insert id="insertResumeExperience">
        INSERT INTO rel_resume_exp (RID, EXP_ID)
   		VALUES (#{rId}, #{expId});
    </insert>

	<delete id="deleteResumeExperience">
  		delete from rel_resume_exp where RID = #{rId};
	</delete>
	
	<insert id="insertResumeLanguage">
        INSERT INTO rel_resume_lang (RID, LANGUAGE_ID)
   		VALUES (#{rId}, #{languageId});
    </insert>

	<delete id="deleteResumeLanguage">
  		delete from rel_resume_lang where RID = #{rId};
	</delete>
	
	<insert id="insertResumeLicense">
        INSERT INTO rel_resume_license (RID, LICENSE_ID)
   		VALUES (#{rId}, #{licenseId});
    </insert>

	<delete id="deleteResumeLicense">
  		delete from rel_resume_license where RID = #{rId};
	</delete>
	
	<insert id="insertResumeSkill">
        INSERT INTO rel_resume_skill (RID, SKILL_ID)
   		VALUES (#{rId}, #{skillId});
    </insert>

	<delete id="deleteResumeSkill">
  		delete from rel_resume_skill where RID = #{rId};
	</delete>
    
 
</mapper>