<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sedia.resume.repository.UserMapper">

    <resultMap id="UserResultMap" type="com.sedia.resume.entity.UserEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="ACCOUNT" property="account" jdbcType="VARCHAR"/>
        <result column="USER_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="BIRTHDAY" property="birthday" jdbcType="TIMESTAMP"/>
        <result column="SEX" property="sex" jdbcType="CHAR"/>
        <result column="MILITARY_SERVICE" property="militaryService" jdbcType="VARCHAR"/>
        <result column="MILITARY_DATE" property="militaryDate" jdbcType="VARCHAR"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="DRIVER_LICENSE" property="driverLicense" jdbcType="VARCHAR"/>
        <result column="SPECIAL_IDENTITY" property="specialIdentity" jdbcType="VARCHAR"/>
        <result column="FEATURE" property="feature" jdbcType="VARCHAR"/>
        <result column="INTRODUCTION" property="introduction" jdbcType="VARCHAR"/>
        <result column="BIO_CHN" property="bioChn" jdbcType="VARCHAR"/>
        <result column="BIO_ENG" property="bioEng" jdbcType="VARCHAR"/>
        <result column="PROFILE_IMG_PATH" property="imgPath" jdbcType="VARCHAR"/>
        <result column="CR_USER" property="createUser" jdbcType="VARCHAR"/>
        <result column="CR_DATETIME" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UP_USER" property="updateUser" jdbcType="VARCHAR"/>
        <result column="UP_DATETIME" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="findAll" resultMap="UserResultMap">
        SELECT * FROM user;
    </select>

    <select id="findByAccount" resultMap="UserResultMap">
        SELECT * FROM user WHERE ACCOUNT = #{account};
    </select>

    <select id="findById" resultMap="UserResultMap">
        SELECT * FROM user WHERE ID = #{id};
    </select>

    <insert id="save" parameterType="com.sedia.resume.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (ACCOUNT, USER_NAME, PASSWORD, EMAIL, PHONE, BIRTHDAY, SEX, MILITARY_SERVICE, MILITARY_DATE,
        ADDRESS, DRIVER_LICENSE, SPECIAL_IDENTITY, FEATURE, INTRODUCTION, BIO_CHN, BIO_ENG, PROFILE_IMG_PATH, CR_USER, CR_DATETIME, UP_USER, UP_DATETIME) VALUES
        (#{account}, #{name}, #{password}, #{email}, #{phone}, #{birthday}, #{sex}, #{militaryService}, #{militaryDate}
        , #{address}, #{driverLicense}, #{specialIdentity}, #{feature}, #{introduction}, #{bioChn}, #{bioEng}, #{imgPath}, #{createUser}, #{createDate}, #{updateUser}, #{updateDate});
    </insert>

    <update id="update" parameterType="com.sedia.resume.entity.UserEntity">
        UPDATE user SET USER_NAME = #{name}, EMAIL = #{email}, PHONE = #{phone}, BIRTHDAY = #{birthday}, SEX = #{sex},
                        MILITARY_SERVICE = #{militaryService}, MILITARY_DATE = #{militaryDate}, ADDRESS = #{address},
                        DRIVER_LICENSE = #{driverLicense}, SPECIAL_IDENTITY = #{specialIdentity}, FEATURE = #{feature},
                        INTRODUCTION = #{introduction}, UP_USER = #{updateUser}, UP_DATETIME = #{updateDate}
        WHERE ID = #{id}
    </update>

    <update id="updateAutobiography" parameterType="com.sedia.resume.entity.UserEntity">
        UPDATE user SET BIO_ENG = #{bioEng}, BIO_CHN = #{bioChn}, UP_DATETIME = #{updateDate}
        WHERE ID = #{id}
    </update>

    <select id="loadImg" resultType="String">
        SELECT PROFILE_IMG_PATH FROM user WHERE ID = #{id};
	</select>


    <update id="upLoadImg" parameterType="com.sedia.resume.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
 		UPDATE user SET PROFILE_IMG_PATH=#{imgPath},UP_USER=#{updateUser}, UP_DATETIME=#{updateDate} where ID = #{id};


    </update>
    

    <update id="resetPassword" parameterType="com.sedia.resume.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
 		UPDATE user SET PASSWORD=#{password},UP_USER=#{updateUser}, UP_DATETIME=#{updateDate} where ID = #{id};

    </update>


</mapper>